Repository LimChanyeop/WebServer, pull requests merged in 2022-05, with the labels that each got.

#1 Test: make PRtest
  PRtest
Labels: test

#4 Test: my first setup (test socket connection)
  Makefile
  README.md
  client
  selectest.cpp
  server
  sizeoftest.cpp
  testclient.cpp
  testserver.cpp
Labels: test

#6 Fix: bind error(not problem) - #5
  server
  testserver.cpp
Labels: bug, test

#10 Implementing kqueue
  .gitignore
  client
  server
  testclient.cpp
  testserver.cpp
Labels: bug, test

#11 Test: specifing kqueue implemenation
  client
  main.cpp
  server
  testclient.cpp
  testserver.cpp
Labels: test

#12 Test: plant kqueue - #5, #8
  client
  save.cpp
  server
  testserver.cpp
Labels: bug, test

#17 Solve bind error, Socket capulization, Init parse config file
  Makefile
  Server.hpp
  ServerSocket.cpp
  ServerSocket.hpp
  conf/default.conf
  parseConfig.cpp
  parseConfig.hpp
  server.cpp
  utils/parseUtils.cpp
  utils/parseUtils.hpp
Labels: bug, enhancement
